.tour-bookmark, .tour-bookmark-active{
  margin: 0px 0px 0px 0px;
  height: 100%;

  letter-spacing: 1px;
  text-align: center;
  font-size: 21px;
  font-family: "Times New Roman", Times, serif;
  color: #FF9933;
  font-weight:bold;
  text-align: center;
  text-transform: uppercase;

  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 5px solid #000000;

  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);

  -webkit-box-shadow: inset 0px 0px 22px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 22px 7px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 22px 7px rgba(0,0,0,0.75);

  transition: all 0.2s linear;
}


.tour-bookmark:hover, .tour-bookmark-active:hover{
  color: #ff661a;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 5px solid #991c1c;
  text-shadow: 0px -1px 17px rgba(0, 0, 0, 1);
}


.tour-bookmark-active{
  color: #004d1a;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 5px solid #991c1c;
  text-shadow: 0px -1px 17px rgba(0, 0, 0, 1);
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.left-offset-1{ margin-left: -9%; }
.top-padding-1{ padding-top: 2px; }
.top-padding-2{ padding-top: 47px; }
